html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F28487;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar-size {
  width: 95%;
  margin: 0 auto;
}

.user-image-size {
  height: 56px;
  margin: 4px 0;
}

.main-body {
  min-height: calc(100vh - 64px);
  padding-bottom: 50px;
}

.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}

.click-me-button {
  background-color: #EE6E73;
  margin-top: 50px;
}

.card-image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card.medium {
  height: 450px;
}
